<div class="mt-4">
  <h3>my courses</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
        {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
            <a type="button" href="/courses/{{this._id}}/edit" class="btn btn-success">Sửa</a>
<a type="button" class="btn btn-danger">Xóa</a>
        </td>
      </tr>
      
      {{/each}}
    </tbody>
  </table>
</div>